.side-news-container {
  border: 1px solid #999;
}

.side-news-header {
  background: red;
  color: #fff;
  font-weight: bold;
  padding: 6px;
  text-align: center;
}

.side-news-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}