.category-card {
 border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  height:300px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.1);
}

.category-card img {
  width: 100%;
  height: 200px; /* ⬅️ increased */
  object-fit: cover;
  object-position: center top; /* ⬅️ face safe */
  background: #f2f2f2; 
}

.category-card h3 {
  font-size: 16px;
  line-height: 1.45;
  padding: 12px 12px 8px;
  min-height: 68px;
}

.category-card a {
   display: block;
  padding: 1px 12px 14px;
  font-size: 14px;
  font-weight: 600;
  color: #d32f2f;
  text-align: right;
  text-decoration: none;
}

.category-card a:hover {
  text-decoration: underline;
}
.CardImageContainer {
  width: 100%;
  height: 200px;              /* FIXED IMAGE AREA */
  background: #f2f2f2;        /* Placeholder color */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Image jab load ho */
.CardImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
